.invoice-summary {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .summary-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &.total {
            margin-top: 8px;
        }
    }

    .summary-label {
        color: rgba(0, 0, 0, 0.6);
    }

    .summary-value {
        font-family: 'Mulish', sans-serif;
        text-align: right;
        min-width: 100px;
    }
}